@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Permanent+Marker&display=swap');

body {
    text-align: center;
    margin: 0px;
}
header {
    background-color: black;
    height: 40px;
}

main {
    background: rgb(12,20,59);
    background: linear-gradient(180deg, rgba(12,20,59,1) 0%, rgba(12,20,59,1) 10%, rgba(2,83,184,1) 100%);
    margin: 0px;
    height: 100vh;
    color: white;
    font-family: 'Archivo Narrow';
}
/*li {
    list-style: none;
    display: inline-block;
}
ul {
    margin: 0px;
}
main {
    margin-top: 0px;
    background-image: url("https://i.pinimg.com/originals/4e/0a/d3/4e0ad318b0c7d496f8e19376165fa01a.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    font-size: 32px;
    margin: 0px 40px 0px 0px;
} */

.navbar a {
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(195, 178, 178);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 0px 50px 0px 20px;
  }
h1 {
    color: white;
    text-decoration: underline;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 0px 0px 0px 0px;
    text-shadow: 1px 1px 2px black;
  }
  
  .navbar {
    height: 40px;
    margin: 0px;
    background: rgb(30, 64, 240);
    background: radial-gradient(
      circle,
      rgb(8, 59, 151) 0%,
      rgba(249, 11, 11) 100%
    );
    border-radius: 50px;
    box-shadow: 0px 0px 35px 17px #0f1d87;
  }

  nav ul li a:hover {
    color: rgb(104, 144, 236);
  }
  
  ul {
    margin: 0px;
  } 
  li {
      list-style: none;
      display: inline-block;
  } 
  
.profileM8 {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: 'Arima Madurai', cursive, sans-serif;
    margin: 20px 60px 0px 60px;
    text-shadow: 1px 1px 2px black;
}
#ImgMagicM8 {
    width: 200px;
    height: 200px;
}
.crew-container {
    display: flex;
    justify-content: center;
}
.crew {
    width: 200px;
    height: 200px;
}
.profilePhoto {
    width: 250px;
    height: 250px;
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.profilePhoto:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}