body {
    text-align: center;
    margin: 0px;
}
header {
    background-color: black;
    height: 40px;
}
li {
    list-style: none;
    display: inline-block;
}
ul {
    margin: 0px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    font-size: 32px;
    margin: 0px 40px 0px 0px;
}
.profileM8 {
    display: flex;
    margin: 0;
    width: 100%;
    height: 200px;
}
#ImgMagicM8 {
    width: 200px;
    height: 200px;
}
.crew-container {
    display: flex;
    justify-content: center;
}
.crew {
    width: 200px;
    height: 200px;
}
.profilePhoto {
    width: 150px;
    height: 150px;
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.profilePhoto:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}